* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Globals */

.clear-fix {
	clear: both;
}

.container {
	width: 90%;
	margin: auto;
}

header {
	background: black;
	padding: 12px;
	color: #e8491d;
	border-bottom: 3px solid #e8491d;
}
header .container {
	position: relative;
}

header h1 {
	display: inline-block;
}

nav {
	background: black;
	color: white;
	display: inline-block;
	float: right;
}
ul li {
	list-style-type: none;
	display: inline-block;
	padding: 11px 18px;
}
ul li:hover {
	color: #e8491d;
}

.works {
	padding-top: 20px;
}
.work {
	width: 33.3%;
	text-align: center;
	float: left;
	padding: 52px;
}

.posts {
	border: 1px solid #E0E0E0;
	background: #F0F0F0;
	padding: 10px;
}

.post {
	padding-left: 15px;
	border-left: 2px solid #e8491d;
	font-style: italic;
	margin: 15px 0;